In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("/content/Students_Performance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [4]:
# 1 a.
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [5]:
# 1 b.
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [6]:
# 1 c 1.
for i in ["math score","reading score","writing score"]:
 avg = data.groupby("gender")[i].mean()
 print(avg)

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64
gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64
gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [7]:
# 1 c 2.
for i in ["math score","reading score","writing score"]:
 avg = data.groupby("test preparation course")[i].mean()
 print(avg)

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64
test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64
test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

In [8]:
# 1 d 1.
for i in ["math score","reading score","writing score"]:
 gen_variance = data.groupby("gender")[i].var()
 print(gen_variance)

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64
gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64
gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [9]:
# 1 d 2.
for i in ["math score","reading score","writing score"]:
 tpc_variance = data.groupby("test preparation course")[i].var()
 print(tpc_variance)

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64
test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64
test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

In [10]:
# 1 e.
data.sort_values(by=["math score"],ascending=False).head(250)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
996,male,group A,some college,standard,completed,100,96,86
515,female,group E,some college,standard,none,100,92,97
517,female,group E,associate's degree,standard,none,100,100,100
516,female,group E,bachelor's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
856,male,group E,some high school,standard,completed,77,76,77
855,male,group E,associate's degree,free/reduced,completed,77,69,68
854,male,group D,some high school,standard,completed,77,68,69
853,male,group D,associate's degree,free/reduced,none,77,78,73
852,male,group D,some college,free/reduced,none,77,62,64

In [11]:
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest

In [12]:
df = pd.read_csv("/content/Sales_add.csv")
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [13]:
# 2 a.
alpha = 0.05
z_val,p_val = ztest(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])
if p_val<alpha:
  print("reject null hypothesis : increase in scale after stepping in digital market")
else:
  print("donot reject null hypothesis : no increase in scale after stepping in digital market")

reject null hypothesis : increase in scale after stepping in digital market

In [14]:
# 2 b.
import statsmodels.api as sm
from statsmodels.formula.api import ols
formula = "df['Sales_before_digital_add(in $)'] ~ C(Region)+C(Manager)+C(Region):C(Manager)"
model = ols(formula,data=df).fit()
anova_table = sm.stats.anova_lm(model,typ =2)
print(anova_table)

                            sum_sq    df         F    PR(>F)
C(Region)             1.091787e+08   2.0  0.232028  0.796138
C(Manager)            4.932287e+08   2.0  1.048215  0.378398
C(Region):C(Manager)  1.052890e+09   4.0  1.118807  0.389505
Residual              3.058519e+09  13.0       NaN       NaN

In [15]:
alpha = 0.05
if any(anova_table["PR(>F)"]<alpha):
  print("there is signiificant dependency btw factors")
  reg =anova_table.loc["C(Region)","PR(>F)"]< alpha
  man = anova_table.loc["C(Manager)","PR(>F)"]< alpha
  if reg:
    print("there is no dependency between the features Region and Manager")
else:
       print("there is no dependency between the features Region and Manager")

there is no dependency between the features Region and Manager